html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(180, 205, 230);
}
h1
  {
    text-align: center;
  }
h2
  {
    text-align: center;
  }
img{  
height: 200px;  
width: 325 px; 
border: 2px solid #F9AC85;
}  

#table{
  background-color: lightgrey;
}

#outerTable{
  background-color: #F9AC85;
}
